<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="utf-8"/>
<title>Books</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
<link rel="stylesheet" th:href="@{/CSS/nouveauL.css}">
</head>
<body>

<section id="cover" class="min-vh-100">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a href="#" class="navbar-brand">My<b>Book</b></a>  		
	<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
		<span class="navbar-toggler-icon"></span>
	</button>
	<!-- Collection of nav links, forms, and other content for toggling -->
	<div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
		<div class="navbar-nav">
			<a href="/Index" class="nav-item nav-link">Home</a>
			<a href="/livreliste" class="nav-item nav-link">Books</a>			
			<div class="nav-item dropdown">
				  <a href="@{/categories}" data-toggle="dropdown" class="nav-item nav-link dropdown-toggle">Categories</a>
				  
                            
   
				  <div class="dropdown-menu">					
					<a href="#" class="dropdown-item">C++</a>
					<a href="#" class="dropdown-item">Java</a>
					<a href="#" class="dropdown-item">Python</a>
					<a href="#" class="dropdown-item">Html and CSS</a>
                </div>
                
            </div>
			<a href="/User" sec:authorize="hasAnyRole('ADMIN')" class="nav-item nav-link">User Management</a>
			<a href="/livres" sec:authorize="hasAnyRole('ADMIN')" class="nav-item nav-link">Books Management</a>
			
			
			
		</div>
		
		 <div class="navbar-nav ml-auto action-buttons">
			<div class="nav-item dropdown" th:inline="text">
				<a data-toggle="dropdown" class="nav-link dropdown-toggle mr-4">Login as [[${#httpServletRequest.remoteUser}]]</a></div>
				<div class="nav-item dropdown" th:inline="text">
				<a  class="nav-link dropdown-toggle mr-4" th:href="@{/login?logout}">Logout</a>
			</div>
			
			</div>
        </div>
	
</nav>
<div class="container mt-5 mb-5">

		
		 <div class="d-flex justify-content-center row" th:each="livre, hstat : ${listLivre}" th:unless="${hstat.index > 2}">
        <div class="col-md-10">
            <div class="row p-2 bg-white border rounded">
                <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="https://images-na.ssl-images-amazon.com/images/I/81jRujEs6uL.jpg"></div>
                <div class="col-md-6 mt-1">
                    <h5 th:text="${livre.nom}"></h5>
                    
                    <div class="mt-1 mb-1 spec-1"><span th:text="${livre.auteur}"></span></div>
                   
                    <p class="text-justify text-truncate para mb-0" th:text="${livre.description}"><br><br></p>
                </div>
                <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                    
                    
                    <div class="d-flex flex-column mt-4"><a class="btn btn-danger btn-sm" type="button" th:href="${livre.file}">Telecharger</a>
                    </div>
                    </div>
                    </div>
                    </div>
                 </div>
                </div>
                 </section>
                 </body>
                 </html>
                 